---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MiddleSection from "../components/MiddleSection.astro"
---

<Layout title="Anorak Postnatal Care | Nurturing Mothers and Babies">
	<Header/>
	<main>
		<MiddleSection/>
	</main>
	<Footer/>
</Layout>
