---

---
<section id="Hero" class=" section hero-section relative h-[580px] mobile-md:h-[500px] dark:text-black flex items-center">
    <div class="w-[80%] mobile-md:w-[90%] mx-auto">
        <div class="flex flex-col w-fit mobile-md:items-center">
            <div class="bg-cards-50 p-5 rounded-xl">
                <h1 class="font-bold text-[40px] leading-tight tracking-wide pb-5">
                    Anorak <br/> Postnatal Care
                </h1>
                <p>Your journey, our support, every step of the way</p>
            </div>
            <a href="#Contact" class="mobile-md:hidden mt-10 w-[180px] text-center h-[58px] py-5 rounded-md text-[13px] tracking-widest bg-button text-white">
               GET A QUOTE
            </a>
            <a href="#Contact" class="hidden mobile-md:block mt-10 w-[180px] text-center h-[58px] py-5 rounded-md text-[13px] tracking-widest bg-button text-white">
                BOOK NOW
             </a>
        </div>
    </div>

    <p class="absolute bottom-0 right-0 mr-1 text-sm mobile-md:text-xs">Image designed by <a class="underline" href="https://www.freepik.com/" target="_blank">Freepick</a></p>
</section>
<style>
    /* styles.css or within a <style> tag */
.hero-section {
    background-image: url('https://edwardakaposfirstawsbucket.s3.amazonaws.com/APNC_Images/hero_section_img.jpg'); /* Update the path */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    max-height: 650px; /* Set a maximum height */
}

</style>