---

import HomestayCarousel from "@/components/ui/HomestayCarousel"
import type { EmblaOptionsType } from 'embla-carousel'
// import '@/styles/base.module.css'
// import {TestimonialCarousel} from './ui/TestimonialCarousel'
const OPTIONS: EmblaOptionsType = { loop : true }
const IMAGES = [
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/Outside_House.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/Kitchen.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/Living_Room.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/Upstairs_2.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/Master_Bedroom_1.png",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/backyard_1.jpg",
    "https://edwardakaposfirstawsbucket.s3.amazonaws.com/APC-House1/backyard_3.jpg",
]

---


<section id="Homestay" class="mx-auto max-w-[1200px]">
    <h1 class="w-fit mx-auto text-4xl md-max:text-center md-max:text-4xl font-semibold pb-10">
        Nurturing Postnatal Care in Guelph and Beyond
    </h1>

    <div class="desktop:w-[90%] laptop:w-[95%] tablet:w-[95%] mx-auto mobile-md:px-2 pb-10">
        <h3 class="text-2xl font-bold pb-3">
            Homestay in Guelph
        </h3>
        <p class="text-lg mobile:text-base">
            Experience a nurturing environment in our Guelph home, designed for your relaxation and recovery. <span class="mobile:hidden">  Our round-the-clock caregivers ensure you can bond with your baby while we handle the rest. Perfect for new mothers to rest, heal, and gain confidence in a supportive community.</span>
        </p>
    </div>
    <div class="w-fit relative mx-auto mb-10 pb-5 mobile:pb-1">
        <HomestayCarousel images={IMAGES} options={OPTIONS} client:visible/>
        <p class="absolute mt-1 tablet:text-sm mobile:text-xs">* The Homestay service is only available in Guelph</p>
    </div>
    <p class="mx-auto mobile-md:px-2 pb-10">
        <span class="hidden mobile:block ">  Our caregivers ensure you can bond with your baby while we handle the rest. Perfect for new mothers to rest, heal, and gain confidence in a supportive community.</span>
    </p>

    <div class="flex mobile:flex-col justify-between items-center desktop:w-[90%] laptop:w-[95%] tablet:w-[95%] mobile-md:px-2 mx-auto pb-10">
        <div class="w-1/2 mobile:w-full">
            <h3 class="text-2xl font-bold pb-3">
                Home Visits
            </h3>
            
            <p class="text-lg mobile:text-base">
                We also provide in-home postnatal care in Mississauga, Scarborough, Kitchener, Waterloo, Toronto, Hamilton, Cambridge, and London ON
            </p>
        </div>

            <img class="mobile:hidden w-1/4 min-w-[230px] max-h-[220px] object-cover mobile:w-[70%]" src="/map.jpeg"/>
    </div>
</section>