---
import ServicesAccordion from "./ui/ServicesAccordion"

const SERVICES = [
    { title : "Consultation", text : ["Detailed Service Package Overviews and Quotes, our Care plans are tailored to meet your individual needs and budget.", "Customizable Meal plan and Housekeeping Schedule to accommodate your preferences.", "Fully Inclusive Stay with On-Demand Care optional service available."]},
    { title : "Pre-Birth Care", text : ["Airport pick-up and Accommodation into our Homestay program if necessary.", "Doctor/Hospital referrals and Coordination of hospital escorts.", "Nutritional Guidance, Meal Planning Support and Housekeeping Services.", "On-Demand Transportation Services if needed."]},
    { title : "Post-Birth Care", text : ["Provisioned Essential Baby supplies (e.g Crib, Clothes, Diapers, etc).", "Nutritional Guidance, Meal Planning Support and Housekeeping Services.", "All inclusive personal care for mother and baby."]},
    { title : "Documentation Assistance", text : ["Assistance with all Official Canadian Birth Documentation including, Birth registration, Certification and Canadian Passport Application.", "Nigerian Visa on Arrival for infants."]},

]
import HorizontalLine from "./ui/HorizontalLine.astro"
---


<section id="Services">
    <HorizontalLine />
    <div class="mx-auto w-fit flex mt-4 flex-col items-center pb-10">
        <h1 class="font-bold text-4xl w-fit pb-5">
            Anorak's Services
        </h1>
        <p class="text-xl text-center w-fit max-w-[650px] mobile:text-base tablet:text-lg">
            Our expert Care Team offers the following services to support you during the fourth trimester transition.
        </p>
    </div>
    <div class="flex flex-col w-[90%] max-w-[900px] mx-auto">
        <ServicesAccordion services={SERVICES} client:visible/>
        <a href=#Contact class=" mt-10 max-w-[180px] mobile:max-w-[160px] text-center h-[58px] py-5 rounded-md text-[13px] tracking-widest bg-button text-white">
            LEARN MORE
        </a>
    </div>

</section>