---
import {MotherIcon, HoldingHeartIcon, HeartIcon} from "@/components/ui/svgs"
import HorizontalLine from "./ui/HorizontalLine.astro"
---


<section id="Specialties" class= "section max-w-[1050px] bg-cards-100 w-[98%] dark:text-black mx-auto pt-6 pb-16 mobile-md:pb-10 px-2 rounded-2xl ">
        <HorizontalLine />
    <h1 class="font-bold text-[36px] max-w-[650px] mx-auto  text-center">
        Laying your Foundation,<br class="mobile-md:hidden"/> for a Smooth Postpartum Journey
    </h1>
    <div class="flex mt-16 gap-x-2 w-fit mx-auto mobile-md:flex-col mobile-md:gap-y-10">
        <div class="flex flex-col justify-center items-center max-w-[330px] text-center">
            <MotherIcon />
            <p class="mt-5 mb-1 font-semibold text-[22px]">
                Mother and Baby Care
            </p>
            <p>
                Our comprehensive care approach focuses on both the mother and baby, providing personalized support tailored to your unique needs. 
            </p>
        </div>
        <div class="flex flex-col justify-center items-center max-w-[330px] text-center">
            <HoldingHeartIcon />
            <p class="mt-5 mb-1 font-semibold text-[22px]">
                Health and Well-being
            </p>
            <p>
                We prioritize your well-being with mental health support and personalized nutrition plans, ensuring a healthy and vibrant start for you and your baby. 
            </p>
            
        </div>
        <div class="flex flex-col justify-center items-center max-w-[330px] text-center">
            <HeartIcon />
            <p class="mt-5 mb-1 font-semibold text-[22px]">
                Home Support Service
            </p>
            <p>
                With a range of home support services such as housekeeping, laundry, and shopping, you can fully focus on recovery and quality bonding with your newborn.
            </p>
            
        </div>
    </div>    

</section>