---
import MemberCard from "./ui/MemberCard.astro"
const IMAGE = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_A1InnmxTINILux32Jc07xhPQNfKwTsFmGg&s"
import HorizontalLine from "./ui/HorizontalLine.astro"
---

<section class="">
    <span class="hidden mobile-md:block">

        <HorizontalLine width="80px"/>
    </span>
    <div class="max-w-[1200px] mobile-md:w-[90%] mobile-md:text-center  mx-auto mb-16">
        <h1 class="text-[40px] mobile-md:text-[36px] font-bold pb-3">
            Meet The Team
        </h1>
        <p class="text-lg">
            Meet our dedicated team committed to exceptional care.
        </p>
    </div>
    <div class="flex max-w-[1050px] justify-between mx-auto mobile-md:flex-col mobile-md:w-fit gap-y-10">
        <MemberCard image="Team/ireti_adu_photo2.jpg" name="Ireti Adu" role="Owner" text="With years of experience as both a mother and a professional, I'm dedicated to providing the care every family deserves."/>
        <MemberCard image="Team/taiye_adu_photo.jpg" name="Taiye Adu" role="Manager" text="Having guided countless families through their postnatal journeys, I find joy in creating a nurturing environment for both mothers and babies."/>
        <MemberCard image="Team/bk_photo.jpg" name="Bukunmi Odebumni" role="Assistant Manager" text="As a new mother myself, I understand the importance of support, and I’m here to offer the same care that I would want for my own family."/>

    </div>
</section>