---
// import TestimonialCarousel from "./ui/TestimonialCarousel"
import EmblaCarousel from '@/components/ui/TestimonialCarousel'
import type { EmblaOptionsType } from 'embla-carousel'
// import '@/styles/base.module.css'
// import {TestimonialCarousel} from './ui/TestimonialCarousel'
const OPTIONS: EmblaOptionsType = { loop:true , breakpoints : { '(min-width: 1024px)': {watchDrag: false}}}

const QUOTES = [ 
    { 
        img : "Testimonials/testimonial1.jpg", 
        quote : "I can't reccomend Anorak enough, as a new parent I felt completely taken care of by the amazing and gracious team at Anorak, they made everything easy to bare.",
        name : "Lucy",
    },
    { 
        img : "Testimonials/testimonial2.jpg", 
        quote : "I truly don't know how we would have survived the first week postpartum without the guidance of the staff. I'm grateful a place like this exists!",
        name : "Opeyemi",
    },
    { 
        img : "Testimonials/testimonial3.jpg", 
        quote : "The staff was amazing, the caregivers are all extremely qualified and are great at making you feel at ease. I was nervous at first, but they made it easy to get used to their help.",
        name : "Jessica",
    },

]
---


<section  id="Testimonials" class="section w-fit m-auto justify-center items-center py-10">
    <div class="flex justify-between w-[1200px] laptop-md:w-[1000px] tablet-md:w-fit tablet-md:flex-col tablet-md:gap-10 mobile-md:flex-col mobile-md:gap-10 mobile-md:w-fit ">
        <div class="w-[278px] tablet-md:ml-12 mobile-md:ml-6">
            <h2 class="text-lg">
                Testimonials
            </h2>
            <h1 class="text-[40px] leading-tight font-bold pb-5">
                Mamas <br> <span class="italic"> Love </span> Anorak
            </h1>
            <p>
                Discover why new mothers trust Anorak. Hear from our community about their experiences and the  exceptional support they received.
            </p>
        </div>
        <EmblaCarousel testimonials={QUOTES} options={OPTIONS} client:visible/>

    </div>


</section>
