---
---


    <button id="toggleModeBtn" class="w-9 h-9 sm-max:w-8 sm-max:h8">
        <svg id="NightMode" fill="var(--button-color)" width="32" height="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"/>
        </svg>
    
        <svg id="DayMode" fill="var(--button-color)" width="36" height="36" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <path d="M120 40V16a8 8 0 0 1 16 0v24a8 8 0 0 1-16 0m8 24a64 64 0 1 0 64 64a64.07 64.07 0 0 0-64-64m-69.66 5.66a8 8 0 0 0 11.32-11.32l-16-16a8 8 0 0 0-11.32 11.32Zm0 116.68l-16 16a8 8 0 0 0 11.32 11.32l16-16a8 8 0 0 0-11.32-11.32M192 72a8 8 0 0 0 5.66-2.34l16-16a8 8 0 0 0-11.32-11.32l-16 16A8 8 0 0 0 192 72m5.66 114.34a8 8 0 0 0-11.32 11.32l16 16a8 8 0 0 0 11.32-11.32ZM48 128a8 8 0 0 0-8-8H16a8 8 0 0 0 0 16h24a8 8 0 0 0 8-8m80 80a8 8 0 0 0-8 8v24a8 8 0 0 0 16 0v-24a8 8 0 0 0-8-8m112-88h-24a8 8 0 0 0 0 16h24a8 8 0 0 0 0-16"/>
        </svg>
    </button>

    <style>
        @media screen and (min-width: 1021px) and (max-width : 1279px)  {
            #NightMode {
                width: 28px;
                height: 28px;
            }
            #DayMode {
                width: 30px;
                height: 30px;
            }
        }
        @media screen and (max-width : 600px) {
            #NightMode {
                width: 28px;
                height: 28px;
            }
            #DayMode {
                width: 30px;
                height: 30px;
            }
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleModeBtn = document.getElementById('toggleModeBtn');
            const nightModeIcon = document.getElementById('NightMode');
            const dayModeIcon = document.getElementById('DayMode');
    
            if (toggleModeBtn) {
                toggleModeBtn.addEventListener('click', function() {
                    document.documentElement.classList.toggle('dark');
                    const isDarkMode = document.documentElement.classList.contains('dark');
                    
                    if(dayModeIcon && nightModeIcon) {
                        if (isDarkMode) {
                            nightModeIcon.style.display = 'none';
                            dayModeIcon.style.display = 'block';
                        } else {
                            nightModeIcon.style.display = 'block';
                            dayModeIcon.style.display = 'none';
                        }
                    }
                });
    
                // Initial state setup
                const isDarkMode = document.documentElement.classList.contains('dark');

                if( dayModeIcon && nightModeIcon) {
                    if (isDarkMode) {
                        nightModeIcon.style.display = 'none';
                        dayModeIcon.style.display = 'block';
                    } else {
                        nightModeIcon.style.display = 'block';
                        dayModeIcon.style.display = 'none';
                    }
                }
            }
        });
    </script>